* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-fotos {
    width: 300px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
}

.contenedor-fotos:hover .hover {
    transform: translate(0%) rotate(0);
}

.contenedor-fotos:hover img {
    transform: scale(1.2);
}

.contenedor-fotos img {
    width: 100%;
    /* height: 100%; */
    vertical-align: top;
    transition: transform 1s;
}

.hover {
    position: absolute;
    bottom: 0;
    background: rgba(48, 60, 196, 0.707);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px 0;
    transform: translate(100%, 100%) rotate(180deg);
    transition: transform 1s;
}

h3 {
    padding: 20px 0;
}